@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
.header-font {
  font-size: 18px;
  font-family: 'Inconsolata';
}
.nav-container {
  display: inline-block;
}
.main-nav {
  font-size: 18px;
  font-family: 'Inconsolata';
  background-color: #ccc9c9;
  width: 100%;
  max-width: 1200px;
  height: 350px;
}
